<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
    <link rel="stylesheet" href="/css/engagement.css">
    <title>Document</title>
</head>

<body>
    <div class="ui menu">
        <div class="header item">
            <a href="/"><h3 class="logo">Kevin & Dallyn | An Engagement</h3></a>
        </div>
        <a class="item" href="/">
            Home
        </a>
        <a class="item" href="/photos">
            Photos
        </a>
        <div class="header item right">
            <span><a class="item" href="../signup">
                Sign Up
            </a></span>
            <span><a class="item" href="../login">
                Login
            </a></span>
        </div>
    </div>