<% include ./partials/header %>

<div class="ui container main">
    <div class="ui container segment">
        <h4>One Single Image</h4>
            <img class="ui centered medium bordered image huge" src="<%= photo.url %>" alt="">
    </div>
</div>

<% include ./partials/footer %>