<% include ./partials/header %>

<div class="ui container main">
    <div class="ui container segment">
            <img class="ui centered medium bordered image huge" src="<%= photo.url %>" alt="">
            <h3>Log in To Leave a Comment!</h3>
            <hr class="style-two">
    </div>
</div>

<% include ./partials/footer %>