<% include ./partials/header %>

<div class="ui container main">
    <div class="ui container segment">
            <img class="ui centered medium bordered image huge" src="<%= photo.url %>" alt="">
            <h3>Log in To Leave a Comment!</h3>
            <hr class="style-two">
            <form id="show-form" class="ui centered" action="">
                <div class="ui input mini">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <button class="ui teal basic button mini">Login</button>
            </form>
    </div>
</div>

<% include ./partials/footer %>