<% include ../partials/header %>

<div class="ui container main">
    <div class="ui container segment">

    <h4 class="ui dividing header intro">Welcome to the Index, Neo.</h4>
        <div class="ui stackable equal width grid">
            <div class="column">
                    <img class="ui fluid image" src="https://i.imgur.com/JhYMUop.jpg" alt="">
            </div>
                        <span id="amp">&amp;</span>
            <div class="column">
                    <img class="ui fluid image" src="https://i.imgur.com/51vow0N.jpg" alt="">
                </div>
    </div>
</div>

<% include ../partials/footer %>