<% include ../partials/header %>

<div class="ui container segment">
    <div class="ui five column centered grid">
        <div class="column">
            <form class="ui form">
                <div class="field">
                    <label>username</label>
                    <div class="ui input mini">
                        <input type="text" name="username" placeholder="Username">
                    </div>
                </div>
                <div class="field">
                    <label>password</label>
                    <div class="ui input mini">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <button class="ui teal basic button mini" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>